{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="tag-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Delete</button>
      </div>
    </form>
  </main>
{% endblock content %}