{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <main class="meal_plans-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Delete</button>
      </div>
    </form>
  </main>
  {% endif %}
{% endblock content %}