{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
{% if user.is_authenticated %}
  <main class="meal_plans-detail">
    <div>
      <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
    </div>
    {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h1>{{ mealplan.name }}</h1>
    <p>
      Created on {{ mealplan.created }} |
      Updated on {{ mealplan.updated }}
    </p>
    <p>Tags: {% for meal in recipe.meal_plans.all %}{{ meal_plans.word }} {% endfor %}</p>
    {{ recipe.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
{% endif %}
{% endblock content %}
