{% extends 'paginate.html' %}


{% block content %}
  <div>
    <h2> <a href="{% url 'meal_plans_new' %}">New Meal Plan</a>
    </h2>
  </div>
  <main class="recipe-grid">

    {% for mealplan in mealplan_list %}
      <div class="meal_plan-card">
        <h2 class="meal_plan-card-title">
          <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        {% for meals in meal_plans.meal_plans.all %}
          <p>
            <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
          </p>
        {% endfor %}
      </div>
    {% empty %}
      <div>
        <h1>No meal plans yet!</h1>
        <p>
          Would you like to
          <a href="{% url 'meal_plans_new' %}">create</a>
          one?
        </p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}