{% extends 'paginate.html' %}


{% block content %}
  <div>
    <h2> <a href="{% url 'shopping_list_new' %}">New Meal Plan</a>
    </h2>
  </div>
  <main class="recipe-grid">

    {% for shoppinglist in shopping_list_list %}
      <div class="meal_plan-card">
        <h2 class="meal_plan-card-title">
          <a href="{% url 'shopping_list_detail' shoppinglist.pk %}">{{ shoppinglist.name }}</a>
        </h2>
        {% for meals in shopping_list.shopping_list.all %}
          <p>
            <a href="{% url 'shopping_list_detail' shoppinglist.pk %}">{{ shoppinglist.name }}</a>
          </p>
        {% endfor %}
      </div>
    {% empty %}
      <div>
        <h1>No shopping list yet!</h1>
        <p>
          Would you like to
          <a href="{% url 'shopping_list_new' %}">create</a>
          one?
        </p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}